:root {
  --dark-gray: #424242;
  --gray: #7e7e7e;
  --light-gray: #e9e9e9;
  --red: #db002f;
  --code: #dfbbff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 35px;
}

.app-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(400px, 25%) 1fr;

  @media (max-width: 1024px) {
    grid-template-columns: minmax(250px, 30%) 1fr;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 80%;
  padding: 1rem 0;

  @media (max-width: 1024px) {
    width: 90%;
  }

  &__logo {
    max-width: 200px;
  }

  &__title {
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-gray);
  position: relative;
  overflow-x: hidden;

  @media (max-width: 767px) {
    overflow: hidden;
  }
}

.preview {
  width: 80%;
  background-color: #fff;
  border-radius: 8px;

  @media (max-width: 1024px) {
    width: 90%;
  }

  &__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--dark-gray);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px 8px 0 0;
  }

  &__nav-button {
    height: 8px;
    width: 0.5rem;
    border-radius: 50%;

    &--red {
      background-color: rgb(242, 84, 91);
    }

    &--yellow {
      background-color: rgb(245, 194, 107);
    }

    &--green {
      background-color: rgb(0, 189, 165);
    }
  }

  &__details {
    padding: 1rem 2.5rem;
    background-color: var(--dark-gray);

    p {
      margin: 0;
      font-size: 0.9rem;
      color: #fff;
    }

    span {
      opacity: 0.8;
    }
  }

  &__main {
    padding: 4rem 2.5rem 5rem;
    border-radius: 0 0 8px 8px;
  }
}

.sidebar {
  background-color: var(--dark-gray);
}

.tabs {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 5rem;
  position: relative;
  background-color: var(--gray);

  &__tab {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  &__icon {
    width: 30px;
    fill: #fff;
  }

  &__selected-bg {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    top: 0;
    background-color: var(--dark-gray);
    transition: transform 0.3s;
  }
}

.settings {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;

  @media (max-width: 1024px) {
    padding: 2rem 1.5rem;
  }

  &__title {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 2rem;
  }

  label {
    color: #fff;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  &__field {
    font-size: 0.9rem;
    background-color: var(--light-gray);
    margin-bottom: 2rem;
    padding: 0.8rem 1rem;
    border: none;

    &::placeholder {
      color: var(--gray);
    }
  }

  &__checkbox-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 0.2rem;

    label {
      margin: 0;
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 2.5rem 0;

  @media (max-width: 1024px) {
    gap: 20px;
  }

  .button {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    padding: 0.7rem 1rem;
    background-color: var(--red);
    transition: background-color 0.2s ease;
    position: relative;
    cursor: pointer;

    &--copy::after {
      color: #424242;
      content: "Copied!";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
    }

    &[slideUp="1"]::after {
      animation: slideUp 1s 1;
    }

    @keyframes slideUp {
      0% {
        transform: translateX(-50%) translateY(0) scale(0.8);
        opacity: 0;
      }
      30% {
        transform: translateX(-50%) translateY(-1.5rem) scale(1);
        opacity: 1;
      }
      100% {
        transform: translateX(-50%) translateY(-1.5rem) scale(1);
      }
    }

    &:hover {
      background-color: var(--dark-gray);
    }
  }
}

.code-preview {
  width: 100%;
  position: absolute;
  top: 80px;
  background-color: #242424;
  color: #dfbbff;
  transform: translateX(100%);
  transition: transform 0.3s;

  @media (max-width: 767px) {
    top: unset;
    bottom: 0;
  }

  &__top-bar {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }

  &__title {
    color: #fff;
    font-size: 0.9rem;
    margin: 0;
  }

  &__close {
    color: #e67582;
    margin-left: auto;
    font-size: 0.9rem;
    margin: 0 0 0 auto;
    text-decoration: underline;
    cursor: pointer;
  }

  &__code {
    width: 100%;
    display: block;
    background-color: #242424;
    color: var(--code);
    height: calc(100vh - 80px - 36px);
    position: sticky;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.5rem 1rem;

    @media (max-width: 767px) {
      height: calc(100vh - 36px);
    }
  }
}

.switch {
  width: 25px;
  height: 14px;
  background-color: #fff;
  border-radius: 2rem;
  margin-inline: 7px;
  padding: 1px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__circle {
    width: 12px;
    height: 12px;
    background-color: var(--gray);
    border-radius: 50%;
    transition: transform 0.3s ease-out;

    &--on {
      transform: translateX(calc(100% - 1px));
      background-color: #5da35d;
    }
  }
}
